
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i,600,600i,700&display=swap");

body{
  font-family: "Source Sans Pro", sans-serif;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  outline: none;

}
.container{
  width: 100%;
  margin: 1em auto;
  background-color: white;
}

.grid{
  display: grid;
  margin-left: .5px;
  grid-template-columns: repeat(4,1fr);
  grid-gap: 0.2em;
  justify-content: center;
}
.logo{
  width: 250px;
  height: 100px;

}
.d-flex .me-2{
  width: 500px;
}
.login{
  border-radius: 10px;
  color: white;
  width: 50px;

}
.login:hover{
  color: white;
  background-color: aliceblue;
}
/* .Modal-footer{
  display: flex;
  background-color: #c0c0c0;
  word-spacing: 1cm;

} */
.footer{
  background-color:rgba(12, 15, 16, 0.3);
  height: 50vh;
}
.footer h5{
  text-align: center;
  text-decoration: underline;
  
}
.footer p{
  text-align: center;
  color: white;
}